:root {
  --primary-color: rgb(1, 53, 1);
  --secondary-color: rgb(255, 255, 166);
  --tertiary-color: rgb(128, 10, 10);
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  font-size: 18pt;
  padding: 0;
  margin: 0;
}

Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 999;
  width: 100%;
  padding: 10px 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: large;
}
nav > a:hover {
  border-bottom: 1px solid var(--primary-color);
}

.hero-page {
  background-image: url("./assets/landscape.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  color: var(--secondary-color);
  padding: 1rem;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.hero-container > h1 {
  font-size: 4rem;
  text-align: center;
}
.hero-container > p {
  font-size: 1.3rem;
  text-align: center;
}
