
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18pt;
  scroll-behavior: smooth;
}

.logo-container {
  cursor: pointer;
}
#logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

 nav > a {
  font-size: large;
  cursor: pointer;
}
nav > a:hover {
  border-bottom: 1px solid var(--primary-color);
}

.hero-page {
  height: 90vh;
}
.hero-container {
  background-color: rgba(0, 0, 0, 0.2);
}
.hero-container > h1 {
  font-size: 4rem;
}

